.entire-body {
  display: block;
  margin: 30px auto;
  max-width: 38%;
}

.container {
  border: rgb(112, 117, 122) solid 1px;
  border-radius: 10px;
  padding: 30px 0 0 20px;
}

#conditions {
  font-family: arial, sans-serif;
  font-size: 16px;
  color: rgb(112, 117, 122);
  font-weight: 400;
  text-align: right;
}

#conditions::first-letter {
  text-transform: capitalize;
}

#main-city {
  font-size: 22px;
  padding-top: 15px;
  padding-left: 15px;
  font-family: arial, sans-serif;
  font-weight: 400;
  color: rgb(32, 33, 36);
}

#date-time {
  font-family: arial, sans-serif;
  font-size: 16px;
  color: rgb(112, 117, 122);
  font-weight: 400;
  text-align: right;
}

#enter-city {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
}

.search-btn {
  background: #240747;
  color: white;
  font-family: arial, sans-serif;
  font-size: 14px;
}
.search-btn:hover {
  background: white;
  color: #240747;
  border: 1px solid #240747;
}

#current-btn {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
}
#main-temperature {
  font-size: 48px;
  font-family: "Google Sans", arial, sans-serif;
  font-weight: 400;
  color: #240747;
  padding-left: 15px;
  padding-top: 20px;
}

#main-weather-image {
  width: 25%;
  padding-left: 15px;
  position: relative;
  bottom: 25px;
}

.units {
  font-size: 16px;
  position: relative;
  bottom: 22px;
  cursor: pointer;
  font-family: arial, sans-serif;
  color: rgb(112, 117, 122);
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #240747;
}
.active {
  color: rgb(112, 117, 122);
  cursor: default;
}

a:hover {
  color: black;
}

.author {
  font-family: "Google Sans", arial, sans-serif;
  padding-top: 12px;
  font-size: 15px;
  color: #240747;
}
.git-link {
  color: rgb(112, 117, 122);
}

.weather-details {
  padding-right: 48px;
}

.btn-success {
  color: white;
}
