.entire-body {
  padding: 30px;
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

#conditions {
  text-transform: capitalize;
}

#main-city {
  font-size: 22px;
  padding-top: 12px;
  font-family: "Oxygen", sans-serif;
  font-weight: 100;
}

#date-time {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
}

#enter-city {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
}

.search-btn {
  background: #205c85;
  color: white;
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
}
.search-btn:hover {
  background: white;
  color: #205c85;
  border: 1px solid #205c85;
}

#current-btn {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
}
#main-temperature {
  font-size: 48px;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.main-weather {
  width: 20%;
}

.units {
  font-size: 14px;
  position: relative;
  bottom: 22px;
}

li {
  list-style: none;
}
